/* MOBILE */
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .small-font {
    font-size: 0.8rem;
  }
}
/* DESKTOP */

@media (min-width: 768px) {
  .icon-responsive {
    font-size: 1.8rem;
  }
}
